
.btn-new {
    float: right;
    margin-right: 15px;
}

.right {
    float: right;
}

.rjsf {
    max-width: 600px;
    position: relative;
    left: 28%;
}

.modal-dialog {
    width: 1200px;
    min-height: 600px;
}

.glyphicon-remove {
    content: "\f068" !important;
}

.btn-group {
}

.readOnlyDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* CSS form the UI form */

.rjsf {
    max-width: 100% !important;
    left: 0% !important;
}

.form {
    margin-right: 50px !important;
    margin-left: 50px !important;
    margin-top: 30px;
}

.formModal {
    margin-right: 50px !important;
    margin-left: 50px !important;
    margin-top: 30px;
}